@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*------------------------Headings------------------------*/

body {
    font-family: 'Raleway', sans-serif;
}
.main-headings {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.submain-headings {
    text-align: left;
    margin-top: 30px;
    padding-left: 50px;
}



/*------------------------Navbar------------------------*/

.bee-nav {
    left: 10px;
    position: absolute;
}

#navbar-colors {
    background-color: #555f7b !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #777777;
}

.navbar > a > h1 {
    margin-left: 50vw;
    transform: translate(-60%);
    font-family: 'Nerko One', sans-serif;
}


/*------------------------Main Image------------------------*/

.home-video {
    height: auto;
    max-width: 100%;
    margin-top: 80px;
}

.hero-video-content {
    height: 700px;
    overflow: hidden;
    display: block;
}

.home-image {
    height: auto;
    max-width: 100%;
    margin-top: 82px;

    animation-name: home-zoom;
    animation-duration: 8s;
    animation-fill-mode: backwards;
}

@keyframes home-zoom {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1.0);
    }
}

/*------------------------Main Content------------------------*/

.container > h2, .container > h1 {
    margin-top: 60px;
}

.location-content {
    margin-top: 10px;
}

.location-images {
    text-align: center;
}

.location-images > img {
    width: 80%;
}


/*------------------------ Map ------------------------*/

div#map {
    min-height: 360px;
    margin-bottom: 50px;
}

.map-content {
    max-width: 90%;
    margin: 0 auto;
}

.click-to-map {
    position: relative;
}

.click-to-map span {
    position: absolute;
    bottom: 0;
    left: 15;
}

/*----------------------- Honey Page -----------------------*/

.hive-honey-map {
    text-align: center;
}

.hive-honey-map > img {
    max-width: 90%;
    height: auto;
}

.honey-text {
    padding-left: 100px;
}

.honey-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

.honey-jar button {
    position: absolute;
    bottom: 0;
    left: 15;
}

#outer-jar {
    position: absolute; 
    width: 80%;
    height: auto;
    z-index: 2;
  /*  top: 0px; 
    left: 50%; 
    max-width: 100%;
    height: 400px;
    transform: translate(-50%, 0%); */
}

#inner-jar {
    position: absolute; 
    width: 80%;
    height: auto;
    z-index: 3;
 /*   top: 0px; 
    left: 50%; 
    max-width: 100%;
    height: 400px;
    transform: translate(-50%, 0%); */
}

#honey {
    position: absolute; 
    width: 80%;
    height: auto;
    z-index: 1;
 /*   top: 0px; 
    left: 50%; 
    max-width: 100%;
    height: 400px;
    transform: translate(-50%, 0%); */
}

.fade-in {
animation: fadeIn ease 0.5s;
-webkit-animation: fadeIn ease 0.5s;
-moz-animation: fadeIn ease 0.5s;
-o-animation: fadeIn ease 0.5s;
-ms-animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.sweep-to-top {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0s;
  transition-duration: 2s;
}
/*
.jar-btn {
    position: relative;
    top: 430px;
    left: 35%;
    width: 100px;
}
*/

/*------------------------ Hives ------------------------*/

.hive-icons {
    position: absolute;
    z-index: 1;
    width: 2rem;
    height: 2rem;
    padding: 1.3px 0;
    border-radius: 50%;
    border: 2px solid #b9bea5; 
    font-size: 15px;
    text-align: center;
    color: #555555;
    background: #fff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#hive-icon-one {
    left: 70%;
    bottom: 48%;
    outline: none;
    }

#hive-icon-two {
    left: 45%;
    bottom: 40%;
    outline: none;
    }

#hive-icon-three {
    left: 30%;
    bottom: 70%;
    outline: none;
    }

.iconImage {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.iconImage::after {
    display: block;
    clear: both;
    content: "";
}



/*----------------------- Quiz Page -----------------------*/

.quiz-image {
    text-align: center;
    margin-top: 100px;
}

.quiz-title {
    text-align: center;
}

.quiz-title h1 {
    text-transform: uppercase;
}

.question-box {
    position: relative;
    top: 0;
}

.quizspan {
    border: 1px solid black;
    max-width: 400px;
    margin: 0 auto;
    height: 130px;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 15px;
}

#fullReset {
    visibility: hidden;
}

/* ----------------------Test Button--------------------*/

.stylish-button {
    border-radius: 50rem!important;
    width: 150px;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border: 1px solid #8F9092;
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 0 #CECFD1;
}

.stylish-button:hover:not([disabled]), [role="button"]:hover:not([disabled]) {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.stylish-button:active, [role="button"]:hover:not([disabled]) {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.stylish-button:focus {
    outline: none;
}

/*------------------------Footer------------------------*/

footer {
    background-color: #555f7b;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.social-links {
    padding-bottom: 0px;
}

.social-links li a i {
    width: 50px;
    height: 50px;
    padding: 9px 0;
    border-radius: 50%;
    font-size: 32px;
    text-align: center;
    color: #fafafa;
    background: #d68c04;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #2F0147;
}

.list-inline-item {
    margin: 0;
    padding: 0px 10px;
}

#footer-details {
    padding-top: 35px;
    margin-top: 100px;
}

#footer-details h3 {
    text-align: center;
}

/*
.modal-footer .btn-secondary {
    background-color: #777777;
    border: none;
    border-radius: 20px;
}

.modal-footer .btn-secondary:hover {
    background-color: #b9bea5;
}

.modal-footer .btn-primary {
    background-color: #555555;
    border: none;
    border-radius: 20px;
}

.modal-footer .btn-primary:hover {
    border: none;
    background-color: #b9bea5;
}

.modal-footer .btn-success {
    background-color: #777777;
    border: none;
    border-radius: 20px;
}

.modal-footer .btn-success:hover {
    background-color: #b9bea5;
}
*/
.social-links {
    text-align: center;
}

.social-link-spacing {
    display: inline-block;
}