@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*------------------------Headings------------------------*/

body {
    font-family: 'Raleway', sans-serif;
    color: #545b62;
}
.main-headings {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.submain-headings {
    text-align: left;
    margin-top: 30px;
    padding-left: 50px;
}



/*------------------------Navbar------------------------*/

.bee-nav {
    left: 10px;
    position: absolute;
}

#navbar-colors {
    background-color: #555f7b !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #777777;
}

.navbar > a > h1 {
    margin-left: 50vw;
    transform: translate(-60%);
    font-family: 'Nerko One', sans-serif;
}

.bee-nav img {
    width: 75px;
    height: auto;
    top: -9px;
    position: relative;
}

/*------------------------Main Image------------------------*/

.hero-video {
    height: auto;
    width: 100%;
    margin-top: 80px;
}

.hero-video-content {
    height: 600px;
    overflow: hidden;
    display: block;
}

.home-image {
    height: auto;
    width: 100%;
    margin-top: 82px;

    animation-name: home-zoom;
    animation-duration: 8s;
    animation-fill-mode: backwards;
}

@keyframes home-zoom {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1.0);
    }
}

/*------------------------Main Content------------------------*/

.container > h2, .container > h1 {
    margin-top: 60px;
}

.opening-paragraph {
    padding-left: 130px;
    margin-top: 40px;
    padding-right: 130px;
}

.location-content {
    margin-top: 10px;
}

.location-images {
    text-align: center;
}

.location-images > img {
    width: 80%;
}

.main-page-button {
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.main-page-button-text {
    width: 300px !important;
    text-align: center;
}

.break {
    display: none;
}

/*------------------------ Map ------------------------*/

div#map {
    min-height: 360px;
    margin-bottom: 50px;
}

.map-content {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.click-to-map {
    position: relative;
}

.click-to-map span {
    position: absolute;
    bottom: 0;
    left: 15;
}

/*----------------------- Honey Page -----------------------*/

.hive-honey-map {
    text-align: center;
}

.hive-honey-map > img {
    max-width: 90%;
    height: auto;
}

.honey-text {
    padding-left: 100px;
}

.honey-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

.honey-jar button {
    position: absolute;
    bottom: 0;
    left: 15;
}

.hive-fills h2{
    margin-bottom: 0px;
    margin-top: 25px;
    }

.hive-fills h3{
    font-size: 2rem;
    margin-top: 30px;
    }

.hive-fills h5{
    margin-bottom: 0px;
}

#no-top-margin {
    margin-top: 0px;
}

#outer-jar {
    position: absolute; 
    width: 80%;
    height: auto;
    z-index: 2;
  /*  top: 0px; 
    left: 50%; 
    max-width: 100%;
    height: 400px;
    transform: translate(-50%, 0%); */
}

#inner-jar {
    position: absolute; 
    width: 80%;
    height: auto;
    z-index: 3;
 /*   top: 0px; 
    left: 50%; 
    max-width: 100%;
    height: 400px;
    transform: translate(-50%, 0%); */
}

#honey {
    position: absolute; 
    width: 80%;
    height: auto;
    z-index: 1;
}

.fade-in {
animation: fadeIn ease 0.5s;
-webkit-animation: fadeIn ease 0.5s;
-moz-animation: fadeIn ease 0.5s;
-o-animation: fadeIn ease 0.5s;
-ms-animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.sweep-to-top {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0s;
  transition-duration: 2s;
}

.how-it-works-title {
    padding-left: 0px;
}

.how-it-works-title h2 {
    padding-left: 0px;
}

.how-it-works-title ol {
    padding-left: 20px;
}

.make-title p {
    padding-right: 50px;
}

.modal-footer {
    display: inline;
    border-top: none;
}

.modal-header {
    display: none;
}

.modal-specific .modal-header {
    display: flex;
}

.empty-jar {
    display: none;
}

.quiz-start .btn {
    color: #545b62;
}

/*------------------------ Hives ------------------------*/

.hive-icons {
    position: absolute;
    z-index: 1;
    width: 2rem;
    height: 2rem;
    padding: 1.3px 0;
    border-radius: 50%;
    border: 2px solid #b9bea5; 
    font-size: 15px;
    text-align: center;
    color: #555555;
    background: #fff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#hive-icon-one {
    left: 70%;
    bottom: 48%;
    outline: none;
    }

#hive-icon-two {
    left: 45%;
    bottom: 40%;
    outline: none;
    }

#hive-icon-three {
    left: 30%;
    bottom: 70%;
    outline: none;
    }

.iconImage {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.iconImage::after {
    display: block;
    clear: both;
    content: "";
}

.nameTag-one {
    position: absolute;
    z-index: 1;
    display: none;
    left: 63%;
    bottom: 59%;
}

#hive-icon-one:hover + .nameTag-one {
  display: block;
  color: black;
  background-color: white;
  width: 20%;
  border: 1px solid #000000;
}

.nameTag-two {
    position: absolute;
    z-index: 1;
    display: none;
    left: 38%;
    bottom: 51%;
}

#hive-icon-two:hover + .nameTag-two {
  display: block;
  color: black;
  background-color: white;
  width: 20%;
  border: 1px solid #000000;
}

.nameTag-three {
    position: absolute;
    z-index: 1;
    display: none;
    left: 23%;
    bottom: 81%;
}

#hive-icon-three:hover + .nameTag-three {
  display: block;
  color: black;
  background-color: white;
  width: 20%;
  border: 1px solid #000000;
}


/*----------------------- Quiz Page -----------------------*/

.quiz-image {
    text-align: center;
    margin-top: 100px;
}

.wall-hives {
    width: 90%;
}

.quiz-title {
    text-align: center;
}

.quiz-title h1 {
    text-transform: uppercase;
}

.question-box {
    position: relative;
    top: 0;
}

.quizspan {
    border: 1px solid black;
    border-radius: 100px;
    max-width: 400px;
    font-weight: 600;
    margin: 0 auto;
    height: 130px;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 15px;
    background: url('../images/rosemary50.png') no-repeat;
}

#fullReset {
    visibility: hidden;
}

.quiz-start {
    margin-top: 30px;
}

.text-center {
    padding-top: 40px;
}

#checkout-quiz-button {
    text-align: center;
}

/* ----------------------Test Button--------------------*/

.stylish-button {
    border-radius: 50rem!important;
    width: 150px;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border: 1px solid #8F9092;
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 0 #CECFD1;
}
/*
.stylish-button:hover:not([disabled]), [role="button"]:hover:not([disabled]) {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}
*/
.stylish-button:active, [role="button"]:hover:not([disabled]) {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.stylish-button:focus {
    outline: none;
}

/*------------------------Footer------------------------*/

footer {
    background-color: #555f7b;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.social-links {
    padding-bottom: 0px;
}

.social-links li a i {
    width: 50px;
    height: 50px;
    padding: 9px 0;
    border-radius: 50%;
    font-size: 32px;
    text-align: center;
    color: #555f7b;
    background: #f7d165;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #2F0147;
}

.list-inline-item {
    margin: 0;
    padding: 0px 10px;
}

#footer-details {
    padding-top: 35px;
    margin-top: 100px !important;
}

#footer-details h3 {
    text-align: center;
}

.social-links {
    text-align: center;
}

.social-link-spacing {
    display: inline-block;
}

/*---------------------- Media Queries ------------------------*/

/* ---- Break one ---- */

@media(max-width: 1980px) {
    .navbar > a > h1 {
    margin-left: 45vw;
    transform: translate(-50%);
    font-size: 50px;  
    } 
    .bee-nav img {
    top: 0px;
    } 
    .navbar-dark .navbar-nav .nav-link {
    font-size: 25px;
    }
    .hero-video-content {
    height: 600px;
    } 
    .hive-fills h2{
    font-size: 33px;
    margin-top: 38px;
    }
    .hive-fills h3{
    font-size: 30px;

    }
    .hive-fills h5{
    font-size: 25px;
    font-weight: 300;
    }
    .honey-text {
    padding-left: 40px;
    }
    .stylish-button {
    width: 250px;
    }
    .quiz-start .btn {
    font-size: 2rem;
    }
    .quizspan {
    border: 1px solid #d4dc52;
    border-radius: 100px;
    max-width: 400px;
    height: 200px;
    padding-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #1b1b19;
}
}

@media(max-width: 1500px) {
    .navbar > a > h1 {
    margin-left: 45vw;
    transform: translate(-50%);
    }  
    .hero-video-content {
    height: 600px;
    } 
    .hive-fills h2{
    font-size: 33px;
    margin-top: 38px;
    }
    .hive-fills h3{
    font-size: 30px;

    }
    .hive-fills h5{
    font-size: 25px;
    font-weight: 300;
    }
    .honey-text {
    padding-left: 40px;
    }
}


@media(max-width: 1226px) {
    .navbar > a > h1 {
    margin-left: 45vw;
    transform: translate(-50%);
    }  
    .hero-video-content {
    height: 600px;
    } 
    .hive-fills h2{
    font-size: 30px;
    }
    .hive-fills h3{
    font-size: 22px;
    }
    .hive-fills h5{
    font-size: 15px;
    }
    .honey-text {
    padding-left: 50px;
    }
}



/* ---- Break Two ---- */
@media(max-width: 1115px) {
    .navbar > a > h1 {
    margin-left: 38vw;
    transform: translate(-25%);
    } 
    .hive-fills h2{
    font-size: 28px;
    } 
    .hero-video-content {
    height: 500px;
    } 
}

/* ---- Break Two ---- */
@media(max-width: 1024px) {
    .hive-fills h2{
    margin-bottom: 0px;
    margin-top: 12px;
    }
    
    .hive-fills h5{
    margin-bottom: 0px;
    margin-top: 5px;
    } 
}

/* ---- Break Three ---- */
@media(max-width: 991px) {
    .location-images > img {
    width: 90%;
    }
    .location-content p, .location-content span  {
    font-size: 15px;
    }
    .locations {
    max-width: 850px !important;
    }
    .hive-fills h2{
    font-size: 23px;
    }
    .hive-fills h5{
    font-size: 12px
    } 
    .hive-fills h3{
    font-size: 18px;
    margin-top: 20px;
    }
    .hive-content-padding {
    padding: 0px 5px 0px 5px;
    }
    .make-title h2 {
    font-size: 25px;
    }
    .how-it-works-title h2 {
    font-size: 25px;
    }
    .hive-honey-map > img {
    max-width: 95%;
    height: auto;
    }
}

/* ---- Break Three ---- */
@media(max-width: 767px) {
    .locations {
    max-width: 700px !important;
    }
    .opening-paragraph {
    padding-left: 60px;
    margin-top: 40px;
    padding-right: 30px;
    }
    .location-content p, .location-content span  {
    font-size: 13px;
    }
    .hero-video-content {
    height: 350px;
    } 
    .bee-nav img {
    width: 50px;
    height: auto;
    top: 0px;
    position: relative;
    }
    .navbar > a > h1 {
    margin-left: 35vw;
    transform: translate(-25%);
    font-size: 35px;
    }
    .hero-video {
    margin-top: 76px;
    }
    #inner-jar {
    width: 75%;
    padding: 40px 0px 0px 100px;
    }
    #outer-jar {
    width: 75%;
    padding: 40px 0px 0px 100px;
    }
    #honey {
    width: 75%;
    padding: 40px 0px 0px 100px;
    }
    .hive-content-padding {
    padding: 40px 75px 0px 0px;
    text-align: center;
    }
    .hive-honey-map > img {
    width: 90%;
    height: auto;
    max-height: 350px;
    }
    .stylish-button {
    margin-top: 20px;
    }
}

/* ---- Break Four ---- */
@media(max-width: 655px) {
     .location-content p, .location-content span  {
    font-size: 12px;
    }
}

/* ---- Break Five ---- */
@media(max-width: 574px) {
     .location-content p, .location-content span  {
    font-size: 12px;
    padding: 0px 30px 0px 30px;
    }
    .location-content span {
    padding-top: 10px;
    }
    .location-content p {
    margin-top: 15px;
    }
    .bee-nav img {
    width: 40px;
    }
    .navbar > a > h1 {
    margin-left: 35vw;
    transform: translate(-25%);
    font-size: 30px;
    }
    .navbar-toggler {
    font-size: 0.75rem;
    }
    .hero-video {
    margin-top: 70px;
    }
    .submain-headings {
    padding-left: 30px;
    margin-top: 50px;
    }
    .break {
    display: block;
    }
    .hero-video-content {
    height: 300px;
    } 
    #outer-jar {
    width: 70%;
    padding: 40px 0px 0px 50px;
    }
    #inner-jar {
    width: 70%;
    padding: 40px 0px 0px 50px;
    }
    #honey {
    width: 70%;
    padding: 40px 0px 0px 50px;
    }
}

/* ---- Break Six ---- */
@media(max-width: 414px) {
    .bee-nav img {
    width: 30px;
    }
    .navbar > a > h1 {
    margin-left: 30vw;
    transform: translate(-20%);
    font-size: 20px;
    margin-bottom: 0rem;
    }
    .hero-video {
    height: auto;
    max-width: 100%;
    margin-top: 50px;
    }
    .hero-video-content {
    height: 200px;
    }
    .gm-style-mtc {
    height: 40px !important;
    }
    .social-links li a i {
    width: 40px;
    height: 40px;
    padding: 8px 0;
    border-radius: 50%;
    font-size: 25px;
    }
    .list-inline-item:not(:last-child) {
    margin-right: 0rem;
    }
    .list-inline-item {
    margin: 0;
    padding: 0px 5px;
    }
    .opening-paragraph {
    padding-left: 30px;
    margin-top: 30px;
    padding-right: 20px;
    }
    .main-headings {
    margin-top: 30px;
    font-size: 1.75rem;
    text-decoration: underline;
    }
    .opening-paragraph h2 {
    font-size: 1.5rem;
    }
    .location-content p, .location-content span  {
    padding: 0px 20px 0px 20px;
    }
    #outer-jar {
    width: 90%;
    padding: 40px 0px 0px 10px;
    }
    #inner-jar {
    width: 90%;
    padding: 40px 0px 0px 10px;
    }
    #honey {
    width: 90%;
    padding: 40px 0px 0px 10px;
    }
    .hive-content-padding {
    padding: 40px 5px 0px 0px;
    text-align: center;
    }
    .honey-text {
    padding-left: 20px;
    }
    .honey-content {
    margin-top: 30px;
    margin-bottom: 30px;
    }
    .how-it-works-title {
    padding-left: 20px;
    }
    .title-break {
    display: none;
    }
    .how-it-works-title h2 {
    margin-top: 20px;
    }
    .home-image {
    margin-top: 50px;
    }
    .mt-auto, .my-auto {
    margin-top: 100px !important;
}
}

